		
        <!-- El css de abajo es el que choca con el de la plataforma -->
        <link rel="stylesheet" href="http://ga.lujan.gov.ar/css/style3.css" />



<footer class="wow fadeIn cover-background" style="background-image:url('http://ga.lujan.gov.ar/images/header/2.png');">
            <div class="opacity-light bg-dark-blue"></div>
            <div class="footer-bottom no-padding position-relative">
                <div class="container">
                    <!-- footer logo -->
                    <div class="row border-top border-transperent-white-light padding-four no-padding-lr xs-padding-twenty-three xs-no-padding-lr">
                        <div class="col-md-12 col-sm-12 text-center margin-one no-margin-top no-margin-lr">
                            <a class="inner-link" href="#home"><img src="http://ga.lujan.gov.ar/images/logo-top.png" alt=""/></a>
                        </div>
                        <div class="col-md-12 col-sm-12 text-center">
                            <span class="text-small text-uppercase letter-spacing-1 light-gray-text alt-font">PORTAL GOBIERNO ABIERTO -  <a href="http://www.lujan.gov.ar/" target="_blank" class="light-gray-text">MUNICIPALIDAD DE LUJÀN</a></span>
                        </div>
                    </div>
                    <!-- end footer logo -->
                </div>
            </div>
</footer>